name: CI

on:
  pull_request:
    paths-ignore:
      - '.gitignore'
      - '.dockerignore'
      - 'LICENSE'
      - '**.md'
  push:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/test

  e2e-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/e2e-test

  rustls-integration-test:
    runs-on: ubuntu-24.04
    needs: test
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/rustls-integration-test


