name: CI
on:
  pull_request:
    paths-ignore:
    - '.gitignore'
    - '.dockerignore'
    - 'LICENSE'
    - '**.md'
  push:
    branches:
      - main
env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
jobs:
  format:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - run: cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: rui314/setup-mold@v1
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - run: cargo clippy --all-targets --all-features -- -D warnings

  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: rui314/setup-mold@v1
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo test --all-features --lib

  e2e:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: rui314/setup-mold@v1
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo test --package tsumiki-cli --test '*'

  rustls-integration:
    runs-on: ubuntu-24.04
    needs: test
    steps:
      - uses: actions/checkout@v6
      - uses: rui314/setup-mold@v1
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - uses: extractions/setup-just@v2
      - run: just test-rustls-integration

  msrv:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: rui314/setup-mold@v1
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.87.0
      - uses: Swatinem/rust-cache@v2
      - run: cargo check --all --all-features
